<?xml version="1.0" ?>
<config>
	<modules>
        <Merchantware_Directpost>
            <version>0.1.0</version>
        </Merchantware_Directpost>
    </modules>
	<global>
		<models>
			<merchantware_directpost>
				<class>Merchantware_Directpost_Model</class>
			</merchantware_directpost>
		</models>
		<helpers>
			<merchantware_directpost>
				<class>Merchantware_Directpost_Helper</class>
			</merchantware_directpost>
		</helpers>
		<blocks>
			<merchantware_directpost>
				<class>Merchantware_Directpost_Block</class>
			</merchantware_directpost>
		</blocks>
	</global>
	<adminhtml>		
		<layout>
			<updates>
                <merchantware_directpost>
                    <file>merchantware_directpost.xml</file>
                </merchantware_directpost>
			</updates>
		</layout>
	</adminhtml>
	<frontend>
        <routers>
            <merchantware_directpost>
                <use>standard</use>
                <args>
                    <module>Merchantware_Directpost</module>
                    <frontName>merchantwaredirectpost</frontName>
                </args>
            </merchantware_directpost>
        </routers>
        <layout>
            <updates>
                <merchantware_directpost>
                    <file>merchantware_directpost.xml</file>
                </merchantware_directpost>
            </updates>
        </layout>		
    </frontend>
	<default>
		<payment>
            <merchantware_directpost>
                <model>merchantware_directpost/directpost</model>
                <active>0</active>
                <cctypes>AE,VI,MC,DI</cctypes>
                <order_status>processing</order_status>
                <title>Merchantware Direct Post</title>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </merchantware_directpost>
		</payment>
	</default>
</config>